.animate {
    transition: transform 2s ease-in-out;
    position: relative;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

.cartIcon.animate {
    animation: scaleCartIcon 0.5s forwards;
}

@keyframes scaleCartIcon {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

